$blue: rgb(25, 44, 108)
$hover-blue: rgba(25, 44, 108, 0.5)

$green: rgb(55, 226, 28)
$hover-green: rgba(55, 226, 28, 0.25)

$white: #f8f8f8
$black: #303030

$size: 18px
$spacing: 8px

@mixin heading
    font-family: 'Dosis', sans-serif
    font-size: 2 * $size
    font-weight: 800
    line-height: 2.5 * $size  
    text-transform: capitalize

@mixin body-text
    font-family: 'Raleway', sans-serif
    font-weight: 300
    line-height: 2 * $size
    font-size: 1.25 * $size

@mixin photo 
    height: 325px
    width: auto
    pointer-events: none

*
    padding: 0
    margin: 0
    box-sizing: border-box

    &:focus-visible
        outline: none

html
    font-size: $size
    color: $blue

.container
    display: flex
    flex-direction: column

// ? Header:

.header
    background: $white
    border: $spacing / 4 solid $blue
    display: flex
    align-items: center
    justify-content: space-between

.heading
    transition: .25s all ease
    position: relative
    left: 10%
    user-select: none
    padding: 3 * $spacing
    @include heading
    
    &:hover, &:focus-visible
        text-shadow: 0 $spacing / 2 $spacing / 2 $hover-blue
        cursor: pointer

    &:active
        color: $black

.buttons 
    display: flex
    align-items: center
    position: relative
    right: 10%

.theme-toggler, .navigation
    border-radius: 50%
    background: $blue
    color: $white
    width: 3 * $size
    height: 3 * $size
    margin: $spacing
    font-size: 1.25 * $size
    border: none
    box-shadow: $spacing / 2 $spacing / 2 $spacing / 2 $hover-blue
    transition: .25s all ease

    &:hover, &:focus-visible
        background: $green
        box-shadow: $spacing / 2 $spacing / 2 $spacing / 2 $hover-green
        cursor: pointer

    &:active
        background: $black

// ? Landing Page:

.landing-page
    display: flex
    margin-top: 3 * $spacing
    overflow: hidden

.introduction
    position: relative
    left: 10%

.headline
    padding: 3 * $spacing 0
    @include heading
    
.description
    @include body-text
    max-width: 65%

.landing-page-buttons
    display: flex
    align-items: center
    position: relative
    left: 10%
    padding: 3 * $spacing 0

.browse-our-menu, .see-customer-reviews
    box-shadow: $spacing / 2 $spacing / 2 $spacing / 2 0 $hover-blue
    border-radius: 40px
    padding: 2 * $spacing 4 * $spacing
    border: none
    font-size: 1.1 * $size
    text-transform: capitalize
    transition: .25s all ease
    border: $spacing / 8 solid $blue

    @include body-text

    &:hover, &:focus-visible
        background: $green
        color: $black
        box-shadow: $spacing / 2 $spacing / 2 $spacing / 2 0 $hover-green
        border-color: transparent
        cursor: pointer

.browse-our-menu
    background: $blue
    color: $white
    margin-right: 2 * $spacing

.see-customer-reviews
    background: $white
    color: $blue
    margin-left: 2 * $spacing

.pizza
    @include photo
    position: relative
    left: -10%

.customer-reviews
    background: $hover-green
    margin: 4 * $spacing 0
    display: flex
    align-items: center
    padding: 4 * $spacing

.customer-photo
    @include photo
    border-radius: 50%
    margin: 4 * $spacing 8 * $spacing 0 10%
    padding-bottom: 3 * $spacing

.feedback
    max-width: 55%

.customer-words
    @include body-text

.signature
    position: relative
    right: -70%
    top: 2 * $spacing
    font-family: 'Lovers Quarrel', cursive
    font-size: 2.5 * $size
